DATABASE_URL=postgresql://user:pass@host-pooler.neon.tech/db?sslmode=require
PAYLOAD_SECRET=your-secret-here-use-openssl-rand-base64-32
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
BLOB_READ_WRITE_TOKEN=
